body{
    display: grid;
    grid-gap: 80px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "main main aside"
    "section article figure"
    "footer footer footer";
}

nav{
    grid-area: nav; 
}

/*Ger header platsen header i griden*/
header{
    grid-area: header;
}

/*Ger main platsen main i griden*/
main{
    grid-area: main;
}

/*Ger aside platsen aside i griden*/
aside{
    grid-area: aside;
}

section{
    grid-area: section;
}

figure{
    grid-area: figure;
}

article{
    grid-area: article;
}

/*Ger footer platsen footer i griden*/
footer{
    grid-area: footer;
    background-color: #2f1fbd;
    width: 100vw;
    padding-bottom: 15px;
}

.navbar{
    font-size: 25px;
    background: #2f1fbd;
    height: 70px;
    padding-bottom: 10px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Klasselektor som stylear länkarna i menyn */
.navbar a{
    text-decoration: none;
    color: white;
    background: #2f1fbd;
    text-align: center;
    padding: 200px;
}
/* Klasselektor som stylear listan i menyn */
.navbar li {
    text-align: center;
    margin: auto;
    display: inline-block;
    background: #2f1fbd;
}

.navbar ul {
    list-style-type: none;
    display: inline-block;
    background: #2f1fbd;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 3px solid black;
}

p, h1, h3, h2{
    text-align: center;
}
.footer{
    text-align: left;
    color: white;
    margin-left: 1vw;
    font-size: 1.3em;
}

#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
table, th, td{
    margin-left: auto;
    margin-right: auto; 
    border: 1px solid black;
}

table{
    border-radius: 7px 7px 7px 7px;
    border-spacing: 0px;  
    border: 3px solid black;
}

#table{
    width: 90%;
    height: 70%;
    text-align: center;
    border-radius: 7px 7px 7px 7px;
}

tr:nth-child(even) {
    background-color: #0ea55e;
}

tr:nth-child(odd) {
    background-color: #6462b3;
}

.margin{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
}

.bakgrund{
    background-color: #bbb8d1ab;
    margin: 0;
}

#video{
    width: 50%;
    height: 35%;
    display: block;
    margin: auto;
}

#nyteknik{
    height: 70vh;
    width: 90% ;   
    margin-top: 0%;
}

.center{
    padding-right: 20%;
}   

.nav2{
    background: rgb(103, 95, 216);
    text-align: center;
    margin-top: -2.3vh;
    list-style-type: none;
    position: fixed;
    width: 100%;
}

.nav2 li{
    display: inline-block;
}

.nav2 a{
    text-decoration: none;
    color: white;
    display: block;
    padding: 2vh;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-left: 60%;
}

#kontakt{
    padding-left: 2%;
}

#musk{
    padding-left: 100px;
}

#tesla{
    height: 50vh;
    width: 100%;
}

#fabrik{
    width: 95%;
    height: 90%;
}

#spacex{
    padding-top: 3%;
    height: 50%;
}

#spacextext{
    padding-left: 20%;
    padding-right: 20%;
}

a:link, a:visited{
    color: black;
}

a:hover, a:active{
    color: aqua;
}

#nyhet{
    text-align: center;
    padding-left: 35%;
}

#contact{
    text-align: left;
}

@media (max-width:700px){
    body{
        display: block;
        grid-template-columns: 1fr;
        grid-gap:10px;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-template-areas: 
    "nav"
    "header"
    "main"
    "aside"
    "section"
    "article" 
    "figure"
    "footer"
    }
}