body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto auto;
    grid-template-areas: 
    "nav nav"
    "header header"
    "main aside"
    "section figure"
    "footer footer"
}

nav{
    grid-area: nav; 
}

/*Ger header platsen header i griden*/
header{
    grid-area: header;
}

/*Ger main platsen main i griden*/
main{
    grid-area: main;
}

/*Ger aside platsen aside i griden*/
aside{
    grid-area: aside;
}

section{
    grid-area: section;
}

figure{
    grid-area: figure;
}

/*Ger footer platsen footer i griden*/
footer{
    grid-area: footer;
    background-color: #2f1fbd;
    width: 100vw;
    padding-bottom: 15px;
}

.navbar {
    font-size: 35px;
    background: #2f1fbd;
    padding-bottom: 15px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Klasselektor som stylear länkarna i menyn */
.nav-links {
    text-decoration: none;
    color: white;
    opacity: 0.8;
    background: #2f1fbd;
}
/* Klasselektor som stylear listan i menyn */
.main-nav li {
    text-align: center;
    margin: auto;
    background: #2f1fbd;
}

.main-nav {
    list-style-type: none;
    display: flex;
    background: #2f1fbd;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p, h1{
    text-align: center;
}
.footer{
    text-align: left;
    color: white;
    margin-left: 1vw;
    font-size: 1.3em;¨
}
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}