/*Skapar gridlayouten*/
body{
    background-color: #bbb8d1ab;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px auto auto auto auto;
    font-family: minFont;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    "aside aside main"
    "section article figure"
    "footer footer footer";
}

/*Ger de olika delarna i griden sina platser*/
nav{
    grid-area: nav; 
}

header{
    grid-area: header;
}

main{
    grid-area: main;
}

aside{
    grid-area: aside;
}

section{
    grid-area: section;
}

figure{
    grid-area: figure;
}

article{
    grid-area: article;
}

/*Ger footern sitt utseende*/
footer{
    grid-area: footer;
    background-color: #2f1fbd;
    width: 100%;
    padding-bottom: 15px;
}

/*Ger navbaren sitt utseende*/
nav{
    background: #2f1fbd;
    text-align: center;
    overflow: hidden;
}

/*Bestämmer hur länkarna i navbaren ser ut*/
nav a{
    text-decoration: none;
    text-align: center;
    color: black;
    background: #2f1fbd;  
    font-size: 1.5em;
    padding: 10px 30px;
    display: block;
}

nav li{
    display: inline-block;
}

/*Ger den sitt utseende*/
.nav2{
    background: rgb(103, 95, 216);
    text-align: center;
    height: 80px;
}

.nav2 li{
    display: inline-block;
}

/*Ger länkarna i den andra naven sitt utseende*/
.nav2 a{
    text-decoration: none;
    color: black;
    display: block;
    font-size: 3ex;
    font-weight: bold;
    text-align: center;
    padding: 20px 100px;
}

/*Gör att bilder får rätt storlek, plats och ger dem en kant*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 3px solid black;
}

/*Centrerar all text*/
p, h1, h2{
    text-align: center;
}

/*Ger texten i footern sitt utseende*/
.footer{
    text-align: left;
    color: white;
    margin-left: 1%;
    font-size: 1.3em;
}

/*Bestämmer layout på bilderna längst upp*/
#img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 99.5%;
}

/*Centrerar tabellen och ger den sin kant*/
table, th, td{
    margin-left: auto;
    margin-right: auto; 
    border: 1px solid black;
}

/*Bestämmer bordern på tabellen*/
table{
    border-radius: 7px 7px 7px 7px;
    border-spacing: 0px;  
    border: 3px solid black;
    width: 90%;
    height: 70%;
    text-align: center;
}

/*Gör varannan rad i tabellen grön*/
tr:nth-child(even) {
    background-color: #0ea55e;
}

/*Gör varannan rad i tabellen lila*/
tr:nth-child(odd) {
    background-color: #6462b3;
}

/*Skapar en klass för att lägga till margin*/
.margin{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
}

/*Bestämmer förhållandet på videon*/
section > iframe{
    width: 90%;
    height: 100%;
    display: block;
    margin: auto;
}

/*Ger bilden under nyteknik sin storlek och ingen border*/
#nyteknik{
    height: 50%;
    width: 70% ;   
    border: none;
}

/*Lägger padding på headern i kontakt*/
#kontakt{
    padding-left: 2%;
}

/*Bestämmer förhållandet på tesla-bilden*/
#tesla{
    height: 50vh;
    width: 99.5%;
}

/*Ger texten i spaceX margin på sidorna*/
#spacextext{
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}

/*Gör länkar svarta*/
a:link{
    color: black;
}

a:visited{
    color: rgb(75, 231, 231);
}

a:hover{
    font-size: 30px;
}

a:focus{
    font-size: 30px;
}

/*Gör att länkar som är aktiva blir aqua*/
a:active{
    color: hsl(193, 63%, 57%);
}

/*Gör länken på startsidan centrerad och lägger margin*/
#nyhet{
    text-align: center;
    margin-left: 45%;
}

/*Vänsterjusterar rubriken på kontaktsidan*/
.contact{
    text-align: left;
}

/*Ger texten på landningssidan sin position och storlek*/
#text {
    width: 90%;
    margin-top: 5%;
    margin-bottom: 25%;
    margin-left: auto;
    margin-right: auto;
}

#textarea{
    width: 350px;
}

.gridgap{
    grid-gap: 80px;
}

/*Länkar in fonten*/
@font-face {
    font-family: minFont;
    src: url(roboto.woff);
}

/*Ändra gridens utformning när skärmen som används är mindre än 700px. Ändrar även navbaren och bilder för att dessa ska vara responsiva.*/
@media (max-width:700px){
    body{
        display: block;
        grid-template-columns: 1fr;
        grid-gap: 10%;
        grid-template-rows: 80px auto auto auto auto auto auto auto;
        grid-template-areas: 
        "nav"
        "header"
        "main"
        "aside"
        "section"
        "article" 
        "figure"
        "footer"
    }

    .navbar{
        width: 100%;
    }
    
    .navbar a{
        font-size: 1.3em;
        padding: 10px 10px;
    }

    .nav2{
        background: rgb(103, 95, 216);
        text-align: center;
        height: 80px;
        margin-top: 0px;
    }
    
    .nav2 a{
        font-size: 24px;
        padding: 29px 10px;
    }

    #img{
        margin-top: 0px;
    }
}